<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.BookcaseMapper">
  <resultMap id="BaseResultMap" type="com.bean.Bookcase">
    <id column="bookcase_id" jdbcType="INTEGER" property="bookcaseId" />
    <result column="bookcase_name" jdbcType="VARCHAR" property="bookcaseName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    bookcase_id, bookcase_name
  </sql>
  <select id="selectByExample" parameterType="com.bean.BookcaseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bookcase_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bookcase_tbl
    where bookcase_id = #{bookcaseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bookcase_tbl
    where bookcase_id = #{bookcaseId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bean.BookcaseExample">
    delete from bookcase_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bean.Bookcase">
    insert into bookcase_tbl (bookcase_id, bookcase_name)
    values (#{bookcaseId,jdbcType=INTEGER}, #{bookcaseName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.Bookcase">
    insert into bookcase_tbl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bookcaseId != null">
        bookcase_id,
      </if>
      <if test="bookcaseName != null">
        bookcase_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bookcaseId != null">
        #{bookcaseId,jdbcType=INTEGER},
      </if>
      <if test="bookcaseName != null">
        #{bookcaseName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bean.BookcaseExample" resultType="java.lang.Long">
    select count(*) from bookcase_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update bookcase_tbl
    <set>
      <if test="record.bookcaseId != null">
        bookcase_id = #{record.bookcaseId,jdbcType=INTEGER},
      </if>
      <if test="record.bookcaseName != null">
        bookcase_name = #{record.bookcaseName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update bookcase_tbl
    set bookcase_id = #{record.bookcaseId,jdbcType=INTEGER},
      bookcase_name = #{record.bookcaseName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.Bookcase">
    update bookcase_tbl
    <set>
      <if test="bookcaseName != null">
        bookcase_name = #{bookcaseName,jdbcType=VARCHAR},
      </if>
    </set>
    where bookcase_id = #{bookcaseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.Bookcase">
    update bookcase_tbl
    set bookcase_name = #{bookcaseName,jdbcType=VARCHAR}
    where bookcase_id = #{bookcaseId,jdbcType=INTEGER}
  </update>
</mapper>